:root{
    --txt:#6E8098;
    --grey-primary: #48556A;
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
    background-color: rgba(236, 242, 248, 1);
    padding: 60px;

}


.card-artigo{
    max-width: 730px;
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    
    
}

.txt-artigo-container{
    position: relative;

}

.txt-container{
    padding: 32px 40px 0px;
}

.txt-artigo-container h2{
    font-size: 20px;
    font-weight: 700px;
    color: var(--grey-primary);
    margin-bottom: 12px;
   
    
}

.txt-artigo-container p{
    font-size: 13px;
    color: var(--txt);
   
    
}


.img-artigo{
    width: 285px;
    height: 305px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px 0px 0px 10px;
    display: block;

}


.footer-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 40px 20px;
   
}



.perfil-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil-container h4{
    color: var(--grey-primary) ;
}


.perfil-container p{
    font-size: 13px;
    color: rgba(110, 128, 152, 1);

}

.perfil-container img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}


.footer-card-compatilhar.active .compartilhar-container{
    display: flex;
}

.compartilhar-container{
    display: none;
    position: absolute;
    background-color: var(--grey-primary);
    padding: 18px 37px;
    border-radius: 10px;
    gap: 21px;
    right: -58px;
    bottom: 90px;
} 

.compartilhar-container::after{
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid var(--grey-primary);
    
}

.compartilhar-icons{
    display: flex;
    align-items: center;
    gap: 16px;
}


.btn-compartilhar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6E8098 ;
    cursor: pointer;
}



@media screen and (max-width:750px) {

    .card-artigo{
        flex-direction: column;
    }
    
    .img-artigo{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px 10px 0px 0px;
    
    }
     
    

    .footer-card-compatilhar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 0px 32px;
    }

    .compartilhar-container{
        position: inherit;
    }

    .compartilhar-container::after{
        content: initial;
    }


    body{
        padding: 10px;
    }

    .perfil-container{
        padding: 0px 8px 20px 32px;
        min-width: max-content;
      
    }

    .footer-card{
        padding: 0px 0px 0px;
        flex-wrap: wrap;
    }

    .compartilhar-container{
        display: none;
    }

    .footer-card-compatilhar.active{
        width: 100%;
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #48556a;
        padding: 22px 32px;
    }


    .footer-card-compatilhar.active  .compartilhar-container{
        display: flex;
    }
    
    .footer-card-compatilhar.active .compartilhar-container{
        padding: 0px;
    }
    
}


@media screen and (max-width:375px) {
    .txt-container{
        padding: 20px 20px 0px;
    }
    .perfil-container{
        padding: 0px 8px 20px 20px;
    }

    .footer-card-compatilhar{
        padding: 0px 20px 0px 0px;
    }
    
}